@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    margin: 0%;
    overflow-x: hidden;
    background-color: #DBAC74;
    
}

.header {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #DBAC74;
    padding: 20px 10px;
    border-radius: none;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
.logo{
  width: 15%;
  height: 115%;
  padding-left: 8%;
}
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

  
  .header-right {
    float: right;
    margin-right: 50px;
    font-family: 'Poppins', sans-serif;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  
  .titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 250%;
    display: block;
    padding-left: 10%;
    
  }

  .junta-titulo{
    margin-top: -112px;
  }
  
  .texto-pele{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
    margin-top: -50px;
    margin-left: 10%;
    text-align: justify;
    width: 500px;
  }

  .img-bola{
    display: inline-block;
    float: right;
    margin-top: -10vw;
  }
  .img-mano{
    display: inline-block;
    float: left;
    margin-top: 5vw;
  }
  .img-cbf{
    display: inline-block;
    float: right;
    margin-top: 0vw;
    margin-right: 10vw;
  }

  .texto-mano{
    float: right;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
    margin-top: 10vw;
    margin-right: 5%;
    text-align: justify;
    width: 500px;
  }


  